# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments (ALL locations)
venv/
backend/venv/
frontend/venv/
.env

# Node
node_modules/
frontend/node_modules/
dist/

# Docker
*.tar

# Storage
.storage/

# OS
.DS_Store
Thumbs.db
