fastapi
uvicorn

langchain
langchain-community
langchain-core
langchain-classic
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph

sentence-transformers
faiss-cpu

supabase
postgrest

PyMuPDF

numpy
requests

pydantic
pydantic-settings

python-dotenv